body {
    background-color: #f6f6f6;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    margin: 0;
    color: #4e555b;
}

.text-read {
    font-size: 20px;
    text-align: justify;
}

.article-header {
    color: blueviolet;
    text-transform: uppercase;
    font-weight: bold;
}

.article-img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.landing {
    background: url("../assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.pd-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-title {
    font-size: 27px;
    color: inherit;
    font-weight: bold;
}

.page_header {
    height: 70px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page_footer {
    background-color: #300f4f;
}

/*#header_index {*/
/*    padding-bottom: 27px;*/
/*}*/

.landing .page_header {
    border: none;
}

.landing .page_header .logo {
}

#logo_index {
    padding-bottom: 2px;
}

.btn-main {
    border: 1px solid #757575;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    /*text-transform: uppercase;*/
    font-weight: 500;
}

.btn-main:hover {
    background-color: #4e555b;
    color: white;
}

.link {
    color: blueviolet;
}

.link:hover {
    text-decoration: none;
}

.btn-border-violet {
    border-color: blueviolet;
}

.btn-border-violet:hover {
    background-color: blueviolet;
    color: #ffffff;
}

.page_navigator {
    margin: 2% auto auto;
}

.page_navigator .nav-items {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 40%;
}

.nav-items .nav-item {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 4px;
    width: inherit;
}

.nav-item .link:hover {
    color: blueviolet;
}

.nav-item .link {
    color: inherit;
    display: block;
    margin: auto;
    text-align: center;
}

.nav-items .nav-item .active {
    color: blueviolet;
}

.nav-item .nav-active {
    display: block;
    height: 2px;
    width: 100%;
    background-color: blueviolet;
}

.img {
    border-radius: 6px;
}

.landing_img {
    width: 45%;
    margin-right: 40px;
}

.about-us_container {
    width: 100%;
    padding: 40px 20px;
    padding-bottom: 0;
}

.title {
    font-weight: bold;
}

.desc_container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.doc_image {
    width: auto;
    height: 600px;
}

.who-we-are_container {
    background-color: #300f4f;
    font-size: 22px;
}

.what-we-can_container {

}

.cards-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.cards-container .card {
    margin-left: 20px;
    border-radius: 7px;
    width: 360px;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.card-img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.lbl {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
}

.form-input {
    padding: 20px 10px;
    border-radius: 5px;
}

.modal-body {
    width: 90%;
    margin: auto;
}

.analyse_form {
    width: 40%;
    margin: auto;
}

.analyze_item_container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    margin-top: 20px;
}

.analyze_item_container .item-title {
    flex: 0.6;
    font-weight: bold;
}

.analyze_item_container .item-control {
    flex: 0.4;
}

.news-container {
    margin-top: 50px;
}

.news-item {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: row;
    margin-bottom: 20px;
    height: 200px;
}

.news-item__img-wrapper {
    flex: 0.3;
    height: 100%;
    margin-right: 15px;
}

.news-item__content {
    flex: 0.7;
}


.news-item__img {
    display: block;
    margin: auto;
    height: 100%;
    image-resolution: normal;
}

.news-item__date {
    font-size: 14px;
}

.pagination-container {
    margin: auto;
    width: fit-content;
}

.msg-err {
    color: red;
    font-size: 12px;
}

.animation {
    overflow: hidden;
    margin-left: 30px;
}

.address {
    color: #007bff;
}

.news-title {
    text-transform: uppercase;
    font-size: 16px;
}

/*some css*/
#cab-text {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

