<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/analys-styles.css">
</head>
<body>
<div class="default">
    <div class="page_header">
        <h2 class="logo">MEDHOUSE</h2>
        <div class="h_nav_container">
            <button class="btn btn-main btn-border-violet mr-2" data-toggle="modal" data-target="#signinmodal">Войти</button>
            <button class="btn btn-main btn-border-violet" data-toggle="modal" data-target="#signupmodal">Регистрация</button>
        </div>
    </div>
    <div class="page_navigator">
        <div class="nav-items">
            <div class="nav-item">
                <a href="index.html" class="link">
                    главная
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="personal-cab-3.html" class="link">
                    профиль
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="analyse.html" class="link active">
                    анализ
                </a>
                <span class="nav-active"></span>
            </div>
        </div>
    </div>
        <div class="container">
            <form action="">
            <div class="analyse_form mt-5">
<!--                <div class="animation">-->
<!--                    <canvas height="150" width="1000" id="example">Обновите браузер</canvas>-->
<!--                </div>-->
                <div><h3 class="text-center font-weight-bold" style="padding-bottom: 20px">username, введите ваши показания:</h3></div>
                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Курение:</span>
                    <input type="text" list="optionsSmoke" class="form-control form-input item-control radio-inline" id="smoking" name="smoking">
                    <datalist id="optionsSmoke">
                        <option>Да</option>
                        <option>Нет</option>
                    </datalist>
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Стаж курения:</span>
                    <input type="number" class="form-control form-input item-control" id="smoking-exp" name="smoking-exp">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Введите ваш вес:</span>
                    <input type="number" class="form-control form-input item-control" id="weight" name="weight">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Введите ваш рост:</span>
                    <input type="number" class="form-control form-input item-control" id="height" name="height">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Употребление алкоголя:</span>
                    <input type="text" list="optionsAlc" class="form-control form-input item-control" id="alco" name="alco">
                    <datalist id="optionsAlc">
                        <option>Полный отказ</option>
                        <option>Несколько раз в год</option>
                        <option>Каждый месяц</option>
                        <option>Каждую неделю</option>
                        <option>Ежедневно</option>
                    </datalist>
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Систолическое давление:</span>
                    <input type="number" class="form-control form-input item-control" id="sistol-presure" name="sys">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Диастолическое давление:</span>
                    <input type="number" class="form-control form-input item-control" id="dist-presure" name="dias">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Температура:</span>
                    <input type="number" placeholder="36,6" class="form-control form-input item-control" id="temperature" name="temperature">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Пульс:</span>
                    <input type="number" class="form-control form-input item-control" id="pulse" name="pulse">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Сахар:</span>
                    <input type="number" class="form-control form-input item-control" id="sugar" name="sugar">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Холестерин:</span>
                    <input type="number" class="form-control form-input item-control" id="holest" name="holest">
                </div>
                <div class="analyze_item_container">
                    <span class="item-title">Сон:</span>
                    <input type="number" class="form-control form-input item-control" id="sleep" name="sleep">
                </div>
                <div class="analyze_item_container_scroll">
                    <span class="item-title">Оцените ваш повседневный стресс:</span>
                    <input type="range" list="optionsScroll" min="1" max="10" class="form-control form-input item-control" id="stress" name="stress">
                    <datalist id="optionsScroll">
                        <option value="1" label="1">
                        <option value="2" label="2">
                        <option value="3" label="3">
                        <option value="4" label="4">
                        <option value="5" label="5">
                        <option value="6" label="6" >
                        <option value="7" label="7">
                        <option value="8" label="8">
                        <option value="9" label="9">
                        <option value="10" label="10">
                    </datalist>
                </div>
                <div class="analyze_item_container_scroll">
                    <span class="item-title">Оцените вашу физ. нагрузку:</span>
                    <input type="range" list="optionsScroll" min="1" max="10" class="form-control form-input item-control" id="phis" name="phis">
                    <datalist id="optionsScroll">
                    <option value="1" label="1">
                    <option value="2" label="2">
                    <option value="3" label="3">
                    <option value="4" label="4">
                    <option value="5" label="5">
                    <option value="6" label="6" >
                    <option value="7" label="7">
                    <option value="8" label="8">
                    <option value="9" label="9">
                    <option value="10" label="10">
                </datalist>
                </div>


                <input type="submit" value="Показать рекомендации" class="btn btn-main btn-border-violet mt-4 w-100" id="result-button">
            </div>
        </form>
    </div>


    <div class="page_footer pd-section" style="margin-top: 150px">
        <div class="desc_container align-items-start">
            <div>
                <h5 class="text-white font-weight-bold">Информация</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Пользовательское соглашение</a>
                    <a href="#" class="d-block">Политика конфиденциальности</a>
                    <a href="#" class="d-block">Оферта</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Контакты</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Вконтакте</a>
                    <a href="#" class="d-block">Facebook</a>
                    <a href="#" class="d-block">Instagram</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Адрес</h5>
                <div class="flex-column">
                    <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Логин</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Имя</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Фамилия</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    <input type="email" class="form-control form-input" id="email">
                    <span class="msg-err d-none">Неверный формат email</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input" id="password1">
                </div>
                <div class="form-group">
                    <label class="lbl">Повторите пароль</label>
                    <input type="password" class="form-control form-input" id="password2">
                    <span class="msg-err d-none">Пароли не совпадают</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/analys.js"></script>
</body>
</html>