<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <title>form</title>
</head>
<body>
<div class="page_header" id="page_header_index">
    <h2 class="logo" id="logo_index">MEDHOUSE</h2>
    <div class="h_nav_container">
        <p id="cab-text" style="white-space: nowrap">личный кабинет</p>
    </div>
</div>
<div class="page_navigator">
    <div class="nav-items">
        <div class="nav-item">
            <a href="index.html" class="link active">
                профиль
            </a>
            <span class="nav-active"></span>
        </div>
        <div class="nav-item">
            <a href="analyse.html" class="link">
                анализ
            </a>
        </div>
    </div>
</div>
<table id="maket">
    <tr>
        <td class="img-photo">
            <img src="../assets/photo.svg" alt="Photo of your profil">
        </td>
        <td id="rightcol">
            <table id="maket2">
                <tr>
                    <td class="name_form">
                        Имя
                        <p>
                            <label>
                                <input type="text" class="btn btn-black page-item-surname" value=""/>
                            </label>
                        </p>
                    </td>
                    <td class="name4_form">
                        Фамилия
                        <p>
                            <label>
                                <input type="text" class="btn btn-black page-item-surname" value=""/>
                            </label>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="name3_form">
                        Дата рождения:
                    </td>
                    <td class="name2_form">
                        <label>
                            <input type="text" class="btn btn-black page-item-surname" value=""/>
                        </label>
                    </td>
                </tr>
                <td class="name5_form">
                    Показатели:
                </td>
            </table>
        </td>
    </tr>
</table>
<table class="name6_form">
    <tr>
        <td>
            Рост:
        </td>
        <td>
            <label>
                <input type="text" class="btn btn-black page-item-param" value=""/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            Вес:
        </td>
        <td>
            <label>
                <input type="text" class="btn btn-black page-item-param" value=""/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            Возраст:
        </td>
        <td>
            <label>
                <input type="text" class="btn btn-black page-item-param" value=""/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            Пол:
        </td>
        <td>
            <label>
                <input type="text" class="btn btn-black page-item-param" value=""/>
            </label>
        </td>
    </tr>
</table>
</body>
</html>