<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medhouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="landing">
    <div class="page_header" id="page_header_index">
        <h2 class="logo" id="logo_index">MEDHOUSE</h2>
        <div class="h_nav_container">
            <button class="btn btn-main btn-border-violet mr-2" data-toggle="modal" data-target="#signinmodal" id="logo_index_enter">Войти</button>
            <button class="btn btn-main btn-border-violet" data-toggle="modal" data-target="#signupmodal" id="logo_index_reg">Регистрация</button>
        </div>
    </div>
    <div class="page_navigator">
        <div class="nav-items">
            <div class="nav-item">
                <a href="index.html" class="link active">
                    Главная
                </a>
                <span class="nav-active"></span>
            </div>
            <div class="nav-item">
                <a href="analyse.html" class="link">
                    Анализ
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="news.html" class="link">
                    Новости
                </a>
                <span class="nav-active d-none"></span>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div class="about-us_container">
            <div class="desc_container">
                <img src="../assets/doc.png" class="img landing_img doc_image">
                <p class="main-title">ЗДОРОВЬЕ - это самое драгоценное сокровище, которое вместе с прекрасным даром жизни предлагается нам совершенно бесплатно. Как же важно сохранить и приумножить его </p>
            </div>
        </div>
        <div class="who-we-are_container pd-section">
            <h3 class="text-white text-center mb-4 text-uppercase">О нас</h3>
            <div class="desc_container">
                <p class="text-white">На нашем сайте Вы сможете получить важную и полезную информацию о состоянии Вашего здоровья, ознакомиться с последними новостями и новейшими прорывами в медицине, узнать новые факты и развеять общепринятые мифы</p>
            </div>
        </div>
        <div class="what-we-can_container pd-section">
            <h3 class="font-weight-bold text-center text-uppercase mb-4">Что мы можем</h3>
            <div class="cards-container">
                <div class="card border-0">
                    <div class="card-img-top">
                        <img src="../assets/asset1.jpg" class="card-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Проверьте свое давление</h5>
                        <p class="card-text">
                            С помощью нашего сервиса Вы можете проверить состояние артериального давления, получить достоверные советы по поводу дальнейшего поведения и даже варианты лечения без походов к врачам с выстаиванием в долгих очередях
                        </p>
                    </div>
                    <div class="p-3">
                        <a href="analyse.html" class="btn btn-main btn-border-violet">Попробовать сейчас</a>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-img-top">
                        <img src="../assets/asset1.jpg" class="card-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Следите за новостями</h5>
                        <p class="card-text">
                            Ознакомьтесь с последними новостями в сфере медицины и здорового образа жизни. Здесь Вы сможете подчерпнуть для себя много нового, интересного и познавательного. Мы обновляем новости каждый день
                        </p>
                    </div>
                    <div class="p-3">
                        <a href="news.html" class="btn btn-main btn-border-violet">Новости</a>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-img-top">
                        <img src="../assets/asset1.jpg" class="card-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">На связи</h5>
                        <p class="card-text">
                            Вы всегда можете написать нам по поводу интересующих Вас вопросов. Наши диспетчеры и врачи всегда будут рады ответить
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page_footer pd-section">
        <div class="desc_container align-items-start">
            <div>
                <h5 class="text-white font-weight-bold">Информация</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Пользовательское соглашение</a>
                    <a href="#" class="d-block">Политика конфиденциальности</a>
                    <a href="#" class="d-block">Оферта</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Контакты</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Вконтакте</a>
                    <a href="#" class="d-block">Facebook</a>
                    <a href="#" class="d-block">Instagram</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Адрес</h5>
                <div class="flex-column">
                    <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Логин</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Имя</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Фамилия</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    <input type="email" class="form-control form-input" id="email">
                    <span class="msg-err d-none">Неверный формат email</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input" id="password1">
                </div>
                <div class="form-group">
                    <label class="lbl">Повторите пароль</label>
                    <input type="password" class="form-control form-input" id="password2">
                    <span class="msg-err d-none">Пароли не совпадают</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>