<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="default">
    <div class="page_header">
        <h2 class="logo">MEDHOUSE</h2>
        <div class="h_nav_container">
            <button class="btn btn-main btn-border-violet mr-2" data-toggle="modal" data-target="#signinmodal">Войти</button>
            <button class="btn btn-main btn-border-violet" data-toggle="modal" data-target="#signupmodal">Регистрация</button>
        </div>
    </div>
    <div class="page_navigator">
        <div class="nav-items">
            <div class="nav-item">
                <a href="index.html" class="link">
                    Главная
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="analyse.html" class="link">
                    Анализ
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="news.html" class="link active">
                    Новости
                </a>
                <span class="nav-active"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="article-header mt-5 text-center">10 мифов о гипертонической болезни</h3>
        <img class="article-img" src="../assets/news-hyper.jpg">
        <h4 class="article-header mt-5">Миф 1: гипертония – болезнь стариков.</h4>
        <p class="text-read">
            Это не так. Гипертоническая болезнь молодеет с каждым годом.
            Причиной стал, во-первых, расширившийся доступ населения к мясной и богатой насыщенными жирами пище, ведь
            раньше даже богачи ели мясо не каждый день, как из-за большого количества постных дней (у христиан их число
            доходило до 200 в год) так и из-за более банальной причины – в отсутствие холодильников мясо нельзя было
            хранить долгое время, и оно быстро портилось.
            Второй причиной гипертонии стала смежная с первой – в коммерческих целях люди научились консервировать мясо,
            чтобы оно подольше ранилось, и главным консервантом является убийственная для сосудов поваренная соль.
            Третьей важной причиной стало распространение гиподинамии, или снижение двигательной активности. Как
            следствие, гипертония сильно "помолодела", и теперь даже 30-летние получают такой диагноз. К сожалению,
            молодые пациенты не считают нужным ее лечить, т.к. уверены, что серьезных последствий для их молодого
            организма гипертония принести не может, и не лечатся. Как следствие, сильно помолодел и следующий за
            гипертонией диагноз "сердечная недостаточность", которая, если не лечить гипертонию, почти неизбежно
            наступает через 15-20 лет. Следствием этого диагноза, как правило, бывает инсульт или инфаркт.
            Четвертой важной причиной является массовое распространение в XX-м веке табачных изделий и продуктов с
            высоким содержанием сахара. Следствием и первого и второго фактора стало массовое ухудшение состояния
            сосудов, вызванных табакокурением и сахарным диабетом.
            Вот почему, начиная с 30 лет каждому, кто заботится о своем здоровье, необходимо проверять артериальное
            давление хотя бы дважды в год.
        </p>
        <h4 class="article-header mt-5">Миф 2: гипертония – не смертельная болезнь и вообще ею болеют почти все</h4>
        <p class="text-read">
            Это не так. Длительное и стойкое повышение артериального давления приводит к нарушению работы жизненно
            важных органов – кровеносных сосудов, в первую очередь - сердца, головного мозга, почек. Опять-таки,
            наиболее частым последствием являются инсульты, болезни почек, инфаркты. В лучшем случае, при легком течении
            этих болезней, человек сначала становится инвалидом, не имея возможности вести полноценный образ жизни, в
            худшем его ждет быстрая и внезапная смерть.
        </p>
        <h4 class="article-header mt-5">Миф 3. Главная причина гипертонии – наследственность и стресс</h4>
        <p class="text-read">
            Снова ошибка. Конечно, стрессы не могут позитивно влиять на состояние нервной и кровеносной системы, и
            частенько являются детонаторами запуска различных заболеваний. Однако даже в идеальных, далеких от стрессов
            условиях гипертония напомнит о себе. Также и с наследственностью. Если надеяться на то, что все ваши
            родственники, например, утонули, это не значит, что вы можете позволить себе пересаливать всю пищу, лежать
            20 часов в сутки, объедаться жирным и соленым мясом и при этом не умереть от инсульта.
        </p>
        <h4 class="article-header mt-5">Миф 4. Главными симптомами повышенного артериального давления являются головокружение, красные глаза, тошнота</h4>
        <p class="text-read">
            Не совсем так. Такие симптомы означают, что болезнь уже сильно запущена. А первыми симптомами гипертонии
            являются "всего лишь" плохое самочувствие, слабость, а вот одышка даже в состоянии покоя – это уж не
            начальный симптом, а скорее осложнение этой болезни. Незначительность и слабая выраженность первых симптомов
            и делает эту болезнь такой коварной, т.к. наступает она очень незаметно. Потому, снова повторим – каждый
            человек начиная с 30 лет должен регулярно дважды в год измерять давление.
        </p>
        <h4 class="article-header mt-5">Миф 5. Нормальное давление – у каждого разное, кому-то и при 190/100 неплохо</h4>
        <p class="text-read">
            Это миф. Границы коридора уровня артериального давления четко обозначены – от 90/60 до 140/90. И даже если
            человеку кажется, что он нормально переносит давление 190/110, это не значит, что его организм при этом не
            разрушается. Известны случаи, когда даже инфаркты миокарда проходят бессимптомно – ну, разве-что человек
            чувствует слабое недомогание. Однако рубец на миокарде от этого не рассасывается.
            Отметим, что при сахарном диабете опасная граница повышения давления немного ниже – 130/80 мм.рт.ст. Если вы
            узнали, что перечисленные повышенные показатели артериального давления держатся у вас на протяжении
            длительного времени, вам следует обратиться к врачу и начать следить за своим давлением, регулярно принимая
            терапевтические меры по его "держанию в узде".
        </p>
        <h4 class="article-header mt-5">Миф 6. Если у вас хотя бы 1 раз повысилось давление – все, у вас гипертония</h4>
        <p class="text-read">
            Это не так. Отдельные случаи повышения давления, да еще совмещенные с кратковременным стрессом или принятием
            алкоголя, или резкой повышенной физнагрузкой могут дать такой показатель. Врач кардиолог прежде всего
            предложит помониторить ваше давление, чтобы убедиться в его стабильности. И примет решение только после
            того, как вы течение нескольких дней регулярно будете его фиксировать с помощью, и измерять его, находясь в
            спокойном состоянии.
        </p>
        <h4 class="article-header mt-5">Миф 7. Лечение – дело фармацевтики и медицины, сами справятся</h4>
        <p class="text-read">
            Прием лекарств, конечно, даст эффект. Но наука сама по себе не всесильна, если ей не помогает сам человек –
            своим желанием быть здоровым, и прилагаемыми к этому усилиями. В частности, вам придется изменить свой образ
            жизни, увеличив физическую активность, ограничивать себя в пищевых пристрастиях. Любой успех в борьбе
            практически с любой болезнью – это успех борьбы двоих против одного: в первую очередь, ВАС, затем вашего
            врача против третьего лишнего – вашей болезни.
        </p>
        <h4 class="article-header mt-5">Миф 8. Самый распространенный миф о борьбе с гипертонией – это то, что лекарство надо принимать только если давление повысилось</h4>
        <p class="text-read">
            Это ложь. Однажды появившись, повышенное давление не исчезнет и будет подстерегать человека, пытаясь
            навредить ему при каждом удобном случае – при стрессе, изменениях атмосферного давления, переутомлении.
            Конечно, существуют препараты, способные резко и сразу снизить давление. Но если регулярно принимать
            комбинацию назначенных врачом бета-адреноблокаторов, диуретиков то резкого скачка может вообще не случиться,
            а если он и произойдет, то его негативное воздействие на организм будем максимально мягким и обойдется без
            осложнений.
        </p>
        <h4 class="article-header mt-5">Миф 9. При гипертонии все нельзя</h4>
        <p class="text-read">
            Неправда. И алкоголь и тем более – занятия спортом вполне допустимы, конечно, в разумных пределах. Например,
            в США резко снизилось количество инфарктов после распространения идеи "бега от инфаркта".
            В то же время красное вино и вовсе является одним из профилактических средств, укрепляющих стенки сосудов.
            Не случайно французы и итальянцы, которые славятся регулярным употреблением красного сухого вина в небольших
            дозах, занимают последние места в рейтинге количества сердечно-сосудистых заболеваний в Европе.
        </p>
        <h4 class="article-header mt-5">Миф 10. Народная медицина – наше "всё"</h4>
        <p class="text-read">
            Средства народной медицины, такие как "чистка сосудов с помощью чеснока", прием отвара из шишек или
            переливание стакана воды из одного в другой в по 30 раз, конечно, могут успокоить вашу нервную систему, в
            особенности от мысли что вы сделали для себя все что могли. Однако, придется разочаровать - они вряд ли
            повлияют на конечный результат и состояние ваших сосудов.
        </p>
    </div>
    <div class="page_footer pd-section mt-5">
        <div class="desc_container align-items-start">
            <div>
                <h5 class="text-white font-weight-bold">Информация</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Пользовательское соглашение</a>
                    <a href="#" class="d-block">Политика конфиденциальности</a>
                    <a href="#" class="d-block">Оферта</a>
                </div>
            </div>
            <div>
{#                <h5 class="text-white font-weight-bold">Контакты</h5>#}
{#                <div class="flex-column">#}
{#                    <a href="#" class="d-block">Вконтакте</a>#}
{#                    <a href="#" class="d-block">Facebook</a>#}
{#                    <a href="#" class="d-block">Instagram</a>#}
{#                </div>#}
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Адрес</h5>
                <div class="flex-column">
                    <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sign In Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Логин</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Имя</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Фамилия</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    <input type="email" class="form-control form-input" id="email">
                    <span class="msg-err d-none">Неверный формат email</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input" id="password1">
                </div>
                <div class="form-group">
                    <label class="lbl">Повторите пароль</label>
                    <input type="password" class="form-control form-input" id="password2">
                    <span class="msg-err d-none">Пароли не совпадают</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>