<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="default">
    <div class="page_header">
        <h2 class="logo">MEDHOUSE</h2>
        <div class="h_nav_container">
            <button class="btn btn-main btn-border-violet mr-2" data-toggle="modal" data-target="#signinmodal">Войти</button>
            <button class="btn btn-main btn-border-violet" data-toggle="modal" data-target="#signupmodal">Регистрация</button>
        </div>
    </div>
    <div class="page_navigator">
        <div class="nav-items">
            <div class="nav-item">
                <a href="index.html" class="link">
                    Главная
                </a>
                <span class="nav-active d-none"></span>
            </div>
<!--            <div class="nav-item">-->
<!--                <a href="analyse.html" class="link">-->
<!--                    Анализ-->
<!--                </a>-->
<!--                <span class="nav-active d-none"></span>-->
<!--            </div>-->
            <div class="nav-item">
                <a href="news.html" class="link active">
                    Новости
                </a>
                <span class="nav-active"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="news-container">
            <div class="news-item card">
                <div class="news-item__img-wrapper">
                    <img class="news-item__img img" src="../assets/news-hyper.jpg">
                </div>
                <div class="news-item__content">
                    <h4 class="font-weight-bold news-title"><a href="#" class="link">10 мифов о гипертонической болезни</a></h4>
                    <p>Это заболевание сами врачи называют молчаливым убийцей. Оно коварно: с одной стороны, вроде бы
                        ничего не болит, а с другой – может укоротить жизнь на 10‑20 лет. Ежегодно в мире 7 млн человек
                        умирают и 15 млн страдают из‑за высокого артериального давления. <a class="link" href="myths.html">Читать...</a>
                    </p>
                    <span class="float-right font-weight-bold news-item__date">01.01.2019</span>
                </div>
            </div>
            <div class="news-item card">
                <div class="news-item__img-wrapper">
                    <img class="news-item__img img" src="../assets/images.jpeg">
                </div>
                <div class="news-item__content">
                    <h4 class="font-weight-bold news-title"><a href="#" class="link">Прорыв в лечении гепертонии</a></h4>
                    <p>Раннее лечение повышенного давления безопасней и эффективней сразу двумя препаратами, нежели
                        одним. Результаты нового исследования, опубликованные в издании The Lancet, изменят метод
                        лечения недуга, который является основным фактором риска развития инфарктов и инсультов.
                        <a class="link" href="news2.html">Читать...</a>
                    </p>
                    <span class="float-right font-weight-bold news-item__date">01.01.2019</span>
                </div>
            </div>
            <div class="news-item card">
                <div class="news-item__img-wrapper">
                    <img class="news-item__img img" src="../assets/news.jpg">
                </div>
                <div class="news-item__content">
                    <h4 class="font-weight-bold news-title"><a href="#" class="link">Новость 3</a> </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere arcu sit amet odio varius,
                        eget luctus risus porta. Donec suscipit feugiat molestie. Suspendisse ac auctor nunc. Aenean
                        pretium eros et orci aliquet, nec lacinia dui placerat. Duis cursus neque id sem lobortis
                        condimentum. Nam pharetra magna eget tempor laoreet. <a class="link" href="#">Читать...</a>
                    </p>
                    <span class="float-right font-weight-bold news-item__date">01.01.2019</span>
                </div>
            </div>
            <div class="pagination-container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="page_footer pd-section mt-5">
        <div class="desc_container align-items-start">
            <div>
                <h5 class="text-white font-weight-bold">Информация</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Пользовательское соглашение</a>
                    <a href="#" class="d-block">Политика конфиденциальности</a>
                    <a href="#" class="d-block">Оферта</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Контакты</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Вконтакте</a>
                    <a href="#" class="d-block">Facebook</a>
                    <a href="#" class="d-block">Instagram</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Адрес</h5>
                <div class="flex-column">
                    <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sign In Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Логин</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Имя</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Фамилия</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    <input type="email" class="form-control form-input" id="email">
                    <span class="msg-err d-none">Неверный формат email</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input" id="password1">
                </div>
                <div class="form-group">
                    <label class="lbl">Повторите пароль</label>
                    <input type="password" class="form-control form-input" id="password2">
                    <span class="msg-err d-none">Пароли не совпадают</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>