<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link href="../css/style-register-dep.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <div class="page_header" id="page_header_index">-->
<!--        <h2 class="logo" id="logo_index">MEDHOUSE</h2>-->
<!--        <span class="font-weight-bold" style="white-space: nowrap">Личный кабинет</span>-->
<!--    </div>-->
<!--</header>-->
<!--<div class="page_header2">-->
<!--    <span class="profil">Профиль</span>-->
<!--    <span class="analiz">Анализ</span>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->