<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/cab-styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Medhouse - личный кабинет</title>
</head>
<body>
<!--header-->
<div class="page_header" id="page_header_index">
    <h2 class="logo" id="logo_index">MEDHOUSE</h2>
    <div class="h_nav_container">
        <p id="cab-text">личный кабинет</p>
    </div>
</div>
<!--navigator-->
<div class="page_navigator">
    <div class="nav-items">
        <div class="nav-item">
            <a href="index.html" class="link">
                главная
            </a>
            <span class="nav-active d-none"></span>
        </div>
        <div class="nav-item">
            <a href="index.html" class="link active">
                профиль
            </a>
            <span class="nav-active"></span>
        </div>
        <div class="nav-item">
            <a href="analyse.html" class="link">
                анализ
            </a>
            <span class="nav-active d-none"></span>
        </div>
    </div>
</div>
<!--personal data-->
<div class="my-container">
    <div class="user">
<!--        add description-->
        <div class="img-place"><p class="inner-text"></p></div>
        <div class="user-data">
            <p class="attention">Чтобы продолжить, введите свои данные</p>
            <input type="submit" value="Зарегистрироваться" class="btn btn-main btn-border-violet mt-4 w-100" id="result-button" style="margin-top: 50px" onClick="window.location='../templates/personal-cab-2.html'">
        </div>
    </div>
</div>
<div class="page_footer pd-section" style="margin-top: 150px; position: absolute; bottom: 0; display: inline-block; width: 100%">
    <div class="desc_container align-items-start">
        <div>
            <h5 class="text-white font-weight-bold">Информация</h5>
            <div class="flex-column">
                <a href="#" class="d-block">Пользовательское соглашение</a>
                <a href="#" class="d-block">Политика конфиденциальности</a>
                <a href="#" class="d-block">Оферта</a>
            </div>
        </div>
        <div>
            <h5 class="text-white font-weight-bold">Контакты</h5>
            <div class="flex-column">
                <a href="#" class="d-block">Вконтакте</a>
                <a href="#" class="d-block">Facebook</a>
                <a href="#" class="d-block">Instagram</a>
            </div>
        </div>
        <div>
            <h5 class="text-white font-weight-bold">Адрес</h5>
            <div class="flex-column">
                <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
            </div>
        </div>
    </div>
</div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>