<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализ</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div class="default">
    <div class="page_header">
        <h2 class="logo">MEDHOUSE</h2>
        <div class="h_nav_container">
            <button class="btn btn-main btn-border-violet mr-2" data-toggle="modal" data-target="#signinmodal">Войти</button>
            <button class="btn btn-main btn-border-violet" data-toggle="modal" data-target="#signupmodal">Регистрация</button>
        </div>
    </div>
    <div class="page_navigator">
        <div class="nav-items">
            <div class="nav-item">
                <a href="index.html" class="link">
                    Главная
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="analyse.html" class="link">
                    Анализ
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="news.html" class="link">
                    Новости
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="news.html" class="link active">
                    Результаты
                </a>
                <span class="nav-active"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="article-header text-center mt-4">У вас нормальное давление</h3>
        <p class="text-read"> Нормальным считается давление в пределах 100/65 - 130/85 мм.рт.ст.
        </p>
        <img class="article-img" src="../assets/heart.png">
        <p class="text-read mt-5"> Чтобы сохранить здоровое сердце, нужно соблюдать здоровый образ жизни:
        </p>
        <p class="text-read"> <strong>1. Спать 7-9 часов в сутки </strong> <br>

        Все знают про важность хорошего ночного сна. Врачи обычно рекомендуют спать 7-9 часов в сутки, но человек далеко не всегда может отдыхать рекомендуемое время. Но сокращение количества сна — это очень плохое решение, неизбежно ведущее к ухудшению здоровья. Чтобы проснуться раньше, стоит ложиться спать раньше (причем в кровать нужно отправляться до 11 вечера). Ночью, пока человек спит, печень очищает кровь от токсинов. <br>

        Кроме того, человек будет лучше спать и просыпаться, если он отправится на боковую до полуночи. Отсутствие сна может привести к серьезным проблемам со здоровьем, таким как диабет, депрессия, инсульт, сердечные заболевания, сердечная недостаточность, сердечный приступ, нерегулярное сердцебиение или высокое кровяное давление. <br> <br>

        <strong>2. Есть фрукты и овощи</strong> <br>

        Фрукты и овощи - это быстрые и полезные для здоровья закуски. В них мало калорий, они гидратируют организм естественным образом и обеспечивают его питательными веществами. Орехи, морковь или сельдерей - идеальная закуска. В орехах идеальный баланс здоровых жиров, белка и клетчатки, поэтому их употребление в умеренных количествах может помочь сбросить вес. <br> 

        Альфа-каротин и биофлавоноиды в моркови помогут снизить риск развития рака. Кроме того, они могут предотвратить катаракту и дистрофию желтого пятна. Стоит употреблять 2-3 порции фруктов и 5-7 порций овощей каждый день. Также обязательно нужно избегать обработанных закусок, в которых слишком много сахара, натрия и искусственных ингредиентов. <br> <br>

        <strong>3. Избегать излишнего употребления кофе</strong> <br>

        Многие люди не могут представить себе дня без чашки кофе. Максимальное количество кофеина в день, рекомендуемое врачами, составляет до 400 миллиграммов или около 4 чашек кофе. Если пить много кофе, то это перегружает печень, обезвоживает человека и повышает уровень сахара в крови. А когда печень перегружена, она становится неспособной детоксифицировать организм. <br>

        Также слишком много кофеина может вызвать нервозность, затруднить концентрацию внимания, вызвать расстройство желудка, головную боль, затруднение сна и увеличение частоты сердечных сокращений. Но если полностью исключить кофеин из рациона, то это может вызвать симптомы «ломки». <br> <br>

       <strong> 4. Выбирать здоровую пищу </strong><br>

        Почти всегда, когда люди слишком заняты, у них нет времени планировать свой рацион. Если нет времени готовить, то всегда необходимо тщательно выбирать свою пищу. Во-первых, нужно выбрать ресторан или кафе со здоровой пищей или перекусывать днем здоровыми закусками, такими как сухофрукты и орехи. Также нужно просчитать наперед порции, чтобы не переедать (стоит помнить, что в ресторанах часто подают слишком большие порции). <br> <br>

        <strong>5. Не забывать про завтрак</strong> <br>

        Как известно, завтрак - самый важный прием пищи за день. Здоровый питательный завтрак будет обеспечивать организм энергией и всеми нужными веществами до обеда. Если пропустить завтрак, то человек будет более склонным к перееданию. Завтрак жизненно необходим для поддержания уровня энергии. <br> 

        Согласно недавнему исследованию, 37% молодых людей пропускают завтрак, а это может увеличить риск ожирения, гипогликемии и снижения уровня сахара в крови. Было доказано, что некоторые продукты, употребляемые во время завтрака, стимулируют мозг. Пожалуй, самым лучшим выбором утром на столе будут яйца. <br> <br>

        <strong>6. Регулярно делать физические упражнения </strong><br>

        Многие могут подумать, что у них нет времени на тренировки, но они будут удивлены, узнав, насколько легко поддерживать хорошую форму. Всего несколько минут упражнений каждый день могут изменить ситуацию. Упражнения могут повысить энергетический уровень человека, а также помогут предотвратить (или решить) широкий спектр проблем со здоровьем. <br>

        Это может помочь снизить риск сердечного приступа, оправиться после операции, поддерживать нормальный вес, снизить уровень холестерина в крови, снизить риск диабета типа 2 и некоторых видов рака, уменьшить уровень беспокойства и снизить давление. Кроме того, упражнения помогают людям с депрессией. Можно начинать с 5-10 минут каждый день, а после постепенно добавлять 5 минут к каждой тренировке каждую неделю. <br> <br>

        <strong>7. Планировать питание</strong> <br>

        Любой занятый человек планирует свои дни. К сожалению, при этом люди забывают планировать свой рацион, а ведь это может помочь питаться более здоровой пищей и уменьшить уровень стресса. Стоит записать, что планируется приготовить в течение следующих нескольких дней или нескольких недель.  <br>

        Планирование собственного питания также сэкономит деньги. Согласно недавнему исследованию, потребители тратят на 40% больше на покупки под влиянием сиюминутного желания, когда они делают покупки без списка. <br> <br>

        <strong>8. Использовать скороварку</strong> <br>

        Если человек слишком занят, у него может не быть времени приготовить собственные блюда. В таком случае может помочь скороварка. Хотя приготовление пищи в ней занимает больше времени, в целом это сэкономит время. Можно просто положить все ингредиенты в скороварку утром и вернуться домой вечером, как раз к горячей еде. <br>

        Подобные умные кастрюли готовят пищу в течение очень длительного времени при низкой температуре. А стоит помнить, что высокая температура разрушает большинство питательных веществ (витамины, минералы и антиоксиданты) и приводит к созданию нездоровых химических соединений, которые ученые связывают с болезнью Альцгеймера и диабетом. <br> <br>

        <strong>9. Упаковывать свой ланч</strong> <br>

        Если собирать с собой судок с едой на работу, то это сэкономит время и деньги. Это также позволит контролировать рацион. В частности, человек сам может спланировать обед, который объединяет углеводы с белками, чтобы обеспечить энергию в течение всего дня. <br>

        Также стоит взять здоровые закуски, такие как сухофрукты, орехи или семена подсолнечника. А если добавить к этому овощи, то получится хорошая, сбалансированная, питательная еда. <br> <br>

        <strong>10. Медитировать перед сном</strong> <br>

        Согласно данным одного исследования, всего несколько минут медитации могут иметь большое значение. Медитация предлагает широкий спектр преимуществ для здоровья и улучшает иммунную систему. Стресс и беспокойство наносят ущерб иммунной системе человека и вызывают бессонницу, а медитация может помочь снизить уровень стресса (для этого достаточно всего 10 минут в день). Помимо этого, медитация улучшает творческие способности, способствует снижению веса и снижает артериальное давление. <br> <br>

        <strong>11. Пить воду</strong> <br>

        Стакан воды утром - отличный способ «разбудить» организм. Питье воды - хороший способ очистить организм от шлаков. Ни для кого не является секретом, что на 70% человеческое тело состоит из воды, поэтому вода для организма важнее, чем еда. Исследования показали, что обычная чистая вода выводит токсины, увеличивает энергию и способствует снижению веса <br>
        </p>

    </div>
    <div class="page_footer pd-section mt-5">
        <div class="desc_container align-items-start">
            <div>
                <h5 class="text-white font-weight-bold">Информация</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Пользовательское соглашение</a>
                    <a href="#" class="d-block">Политика конфиденциальности</a>
                    <a href="#" class="d-block">Оферта</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Контакты</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Вконтакте</a>
                    <a href="#" class="d-block">Facebook</a>
                    <a href="#" class="d-block">Instagram</a>
                </div>
            </div>
            <div>
                <h5 class="text-white font-weight-bold">Адрес</h5>
                <div class="flex-column">
                    <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sign In Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Логин</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Имя</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Фамилия</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    <input type="email" class="form-control form-input" id="email">
                    <span class="msg-err d-none">Неверный формат email</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input" id="password1">
                </div>
                <div class="form-group">
                    <label class="lbl">Повторите пароль</label>
                    <input type="password" class="form-control form-input" id="password2">
                    <span class="msg-err d-none">Пароли не совпадают</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>