<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <title>test</title>
</head>
<body>
<div class="page_header" id="page_header_index">
    <h2 class="logo" id="logo_index">MEDHOUSE</h2>
    <div class="h_nav_container">
        <p id="cab-text" style="white-space: nowrap">личный кабинет</p>
    </div>
</div>
<div class="page_navigator">
    <div class="nav-items">
        <div class="nav-item">
            <a href="index.html" class="link active">
                профиль
            </a>
            <span class="nav-active"></span>
        </div>
        <div class="nav-item">
            <a href="analyse.html" class="link">
                анализ
            </a>
            <span class="nav-active d-none"></span>
        </div>
    </div>
</div>
<div class="img-body">
    <img src="../assets/photo.svg" class="img-photo">
    <div>
        <div class="static-text-body">Чтобы продолжить, введите свои данные:</div>
        <div class="nav-page-item">
            <a href="index.html" class="link active">
<!--                <button type="button" class="btn btn-primary">Заполнить анкету</button>-->
<!--                <input type="button" class="и1" value="Заполнить анкету">-->
                <input type="submit" class="btn btn-primary black-background white" value="Заполнить анкету" />
            </a>
        </div>
    </div>
</div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>