<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <title>test</title>
</head>
<body>
<div class="page_header" id="page_header_index">
    <h2 class="logo" id="logo_index">MEDHOUSE</h2>
    <div class="h_nav_container">
        <p id="cab-text">личный кабинет</p>
    </div>
</div>
<div class="page_navigator">
    <div class="nav-items">
        <div class="nav-item">
            <a href="index.html" class="link active">
                профиль
            </a>
            <span class="nav-active"></span>
        </div>
        <div class="nav-item">
            <a href="analyse.html" class="link">
                анализ
            </a>
            <span class="nav-active d-none"></span>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>